{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block style %}
    <style>
        #login-card {
            margin: auto;
            width: 50%;
            margin-top: 30px;
            max-width: 350px;
            min-width: 350px;
            padding: 6px;
        }
        #login-card .card-title h4 {
            text-align: center;
            margin-bottom: 0px;
        }
        #login-card .card-body {
            background: #f2f2f2;
        }
        #login-form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
        }
        #login-form input {
            width: 100%;
        }
        #login-form p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            /* width: 100%; */
        }
        #login-form p input {
            width: 350px;
        }
        #id_username,
        #id_email,
        #id_password,
        #id_password2 {
            width: 300px !important;
            text-align: center;
        }
        #register-url {
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="card" id="login-card">
        <div class="card-title">
            <h4>Login</h4>
            <hr>
        </div>
        <div class="card-body">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class="{{ message.tags }} text-danger" {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="." method="post" id="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" name="" id="" value="Login">
                <a href="{% url 'niziapp:register' %}" id="register-url">Register</a>
            </form>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        let id_username = document.querySelector('#id_username');
        id_username.focus();
    </script>
{% endblock %}
